.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.col {
  border: 1px solid;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background: white;
  color: #2b2a2b;
}

.row {
  margin: 10px;
  padding: 10px;
}

button {
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

/* react-calendar */
.react-calendar {
  width: 605px;
  max-width: 100%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation button {
  color: #6f48eb;
  min-width: 44px;
  background: none;
  font-size: 16px;
  margin-top: 8px;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #f8f8fa;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar .highlight {
  background-color: yellow;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  align-items: center;
}
*/ ::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #858796;
  text-align: left;
  background-color: #fff;
}

.container-fluid {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* footer */
footer.sticky-footer {
  padding: 2rem 0;
  flex-shrink: 0;
}

/* nav바  */

.left-nav {
  /* height: 100vh; */

  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  position: fixed;
}

.navbar-brand {
  margin: 0.5em;
  padding-bottom: 0;
  border-bottom: 4px solid #464646;
}

@media (min-width: 992px) {
  .navbar {
    flex-direction: column;
  }
  .navbar {
    padding: 3px;
  }
  .navbar-brand {
    padding-bottom: 0;
    border-bottom: 4px solid #464646;
  }
  form input {
    margin-bottom: 0.7em;
  }
}

/* header 자식( nav 내용) */
header {
  display: flex;
}
